@font-face {
  font-family: tetris;
  src: url(PixelEmulator.ttf);
}


body{
	background-color:black;
	font-family: tetris;
	color:white;
}

#title{
	display:flex;
	justify-content:center;
}

#credits{
	  position:absolute;
   top:0;
   left:0;
	font-size:14px;
}
#level{
	display:flex;
	justify-content:center;
}
#game_elements{
	display:flex;
	flex-direction:row;
	justify-content: center;
	background-color:black;
}
#T{
	outline:#9CFCF0 solid 3px;
}
#level_selector {
	padding-top:20px;
	display:flex;
	justify-content: center;
	margin-bottom:20px;
}
#letters{
	padding-right:10px;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}
#piece_names{
	padding-right:20px;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}
#piece_selector{
	padding-right:50px;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}

#gamescreen{
outline:#9CFCF0 solid 3px;
background-color:black;
}
#tools{
	padding-left:10px;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}

#curpiece{
	image-rendering: pixelated;
}

#rotate_buttons{
		display:flex;
		flex-direction: row;
		justify-content:space-evenly;
		image-rendering: pixelated;
		outline:#9CFCF0 solid 3px;
		padding: 10px 10px 10px 10px;
}

#screen{
	outline:#9CFCF0 solid 3px;
	display:flex;
		flex-direction: row;
		justify-content:center;
}

#edit{
}

#erase{
}
#grid{
}
#credits{
	font-size:10px;
}

#loadcanvas{border:1px solid red;
}
#board{
	width:200px;
	display:flex;
	flex-direction:column;
	padding-right:50px;
}
#dragtext{
	padding-bottom:20px;
}
#board2{
	visibility: hidden;
	width:200px;
	display:flex;
	flex-direction:column;
	padding-right:50px;
}
#imageLoader{
	padding-top:20px;
}
#divpaste{
	padding-top:20px;
	padding-bottom:20px;
	width:50px;
}
